.header {
  background-color: #529bef;
  position: fixed;
  float: inline-start;
  width: 100%;
  height: 60px;
  color: rgba(255, 255, 255, 0.881);
  padding-bottom: 50px;
  padding: 7px;
}
.short-text {
  display: none;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #529bef;
  text-align: center;
  color: white;
  display: flex;
}

.main {
  width: 80%;
  margin-left: 11%;
}
.main1 {
  width: 60%;
  margin-left: 22%;
  background-color: #dbf3ff;
  padding: 0px 30px 20px 30px;
}
.main2 {
  width: 60%;
  margin-left: 20%;
}
.inp {
  margin-left: 100px;
}
.custom-table {
  background-color: white;
}

.narrow-column {
  width: 300px;
}

input {
  width: 400px;
  height: 42px;
}

/* Style for the button */
.dropbtn {
  background-color: #529bef;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  width: 110px;
  height: 43px;
  border-radius: 15px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #cad6de;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 160px;
  margin: 0px 0px 0px 0px;
}

.dropdown-content li {
  color: black;
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content li:hover {
  background-color: #ddd;
  padding-left: 9px;
}

.show {
  display: block;
}

.btn1 {
  position: absolute;
  margin-left: 60%;
}
.btn2 {
  position: absolute;
  margin-left: 75%;
}

@media screen and (max-width: 780px) {
  .header {
    .short-text {
      display: inline-block;
    }
    .full-text {
      display: none;
    }
  }
  .navbar-brand {
    position: absolute;
  }
  .btn1 {
    position: absolute;
    margin-left: 30%;
  }
  .btn2 {
    position: absolute;
    margin-left: 60%;
  }
  .main {
    width: 80%;
    margin-left: 5%;
  }
  .main1 {
    width: 80%;
    margin-left: 10%;
    background-color: #ceefff;
    padding: 0px 30px 20px 30px;
  }
  .main2 {
    width: 80%;
    margin-left: 10%;
  }
  .inp {
    margin-left: 0px;
  }
  input {
    width: 280px;
    height: 42px;
  }
}
